body{
    background: yellowgreen;
}
.wrapper{
    display: flex;
    /* height: 800px;
    align-items: center; */
    /* flex-wrap: wrap; */
}

.card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    max-width: 200px;
    position: relative;
    /* justify-content: space-between; */
}
.card .thumbnail{
    position: relative;
}

.card .remove{
    position: absolute;
    top: 0px;
    right: 0px;
    
}
.card > p{
    flex-grow: 1;
}

/* .card + .bottom{
    align-self: flex-end;
} */


@media screen and (min-width: 640px) {
    body {
        background: transparent;
     }
  }
